///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/


.c-btnmenu.is-open {
    position: fixed;
}

.is-popupopen {
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease-out;
}

.c-popup {
    .is-open {
        transform: translatex(0);
        transition: 0.5s ease-out 0.1s;
    }
}

.u-tabonly {
    display: none;
}

.u-onlysp {
    display: none;
}
@include onlytab {
    .u-hidetab {
        display: none;
    }

    .u-tabonly {
        display: block;
    }
}
@include sp {
    .u-onlysp {
        display: block;
    }
    .u-hidesp {display: none;}
}
