/* Header
------------------------------------------------------------*/

/* Main menu
------------------------------------------------------------*/
.c-header {
    &__hdtrans {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
    
    &__logo {
        padding: 17px 0 10px 30px;
    }

    &__text01 {
        font-size: 1.3rem;
        display: block;
    }

    &__text02 {
        font-size: 2.4rem;
        display: block;
        font-weight: bold;
        letter-spacing: 0.1em;
        font-feature-settings: "palt" 1;
    }
    @include tab {
        &__text01 {
            line-height: 1.6;
        }
    }
    @include sp {
        &__logo {
            padding: 13px 0 10px 20px;
            max-width: 55%;
        }

        &__text02 {
            font-size: 1.9rem;
        }
    }
    @media only screen and(max-width: 365px) {
        &__logo {
            padding: 13px 0 10px 10px;
            max-width: 60%;
        }
    }
}
