/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    line-height: 1.5;
    overflow-x: hidden;
}

//-------------------------------------------------------

section {
    padding: 80px 0;
}

//-------------------------------------------------------
.l-container {
    max-width: $pc-width;
    margin: 0 auto;
    @include tab {
        max-width: $tab-width;
    }
    @include sp {
        max-width: $sp-width;
    }
}

