<footer class="c-footer">
  <div class="l-container c-footer__content">
    <div class="c-footer__row">
      <div class="c-footer__col c-footer__col25">
        <ul>
          <li><a href="#">トップページ</a></li>
          <li><a href="#">大和住宅について</a></li>
          <li><a href="#">委託管理について</a></li>
          <li><a href="#">会社情報</a></li>
          <li><a href="#">物件情報</a></li>
          <li><a href="#">賃貸管理トラブル集</a></li>
        </ul>
      </div>
      <div class="c-footer__col c-footer__col25 c-footer__col2">
        <ul>
          <li><a href="#">お知らせ</a></li>
          <li><a href="#">灘エリアのご紹介</a></li>
          <li><a href="#">コラム</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
      </div>
      <div class="c-footer__col c-footer__col50">
        <div class="c-footer__inner c-footer__image">
          <a href="./"><img src="/assets/img/logo-footer.jpg" alt="Kobe Kokko"></a>
        </div>
      </div>
    </div>
    <div class="c-footer__cpright">Copyright  DAIWA-JYUTAKU All Rights Reserved.</div>
  </div>
</footer>
<a href="#" class="c-backtotop c-hidetop"><img src="/assets/img/angle-up.png" alt="Kobe Kokko"></a>